.img-logo {
  filter: var(--theme-img-logo);
}

.img-index {
  width: 110px;
  height: 110px;
}

.img-face-search {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
  object-fit: contain;
}

.img-face-search--result {
  width: 150px;
  height: 150px;
}

.img-table {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top;

  &--camera {
    width: 100px;
    object-fit: contain;
  }
}

.img-preview {
  width: 100%;
  max-width: 100%;
  height: 250px;
  display: block;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  border: 3px dotted var(--theme-surface-outline);
  border-radius: $border-radius-12;
}

.img-user-data {
  border-radius: $border-radius-4;
  //width: 250px;
  max-width: 250px;
  height: calc(#{$space-3} * 4);
  min-height: calc(#{$space-3} * 4);
  max-height: calc(#{$space-3} * 4);
  object-fit: contain;
}

.img-animated {
  animation: imageMoveLoop 3s ease-in-out infinite;
}

.img-right {
  transform: rotateZ(315deg);
}

.img-left {
  transform: rotateZ(135deg);
}

.img-top {
  transform: rotateZ(225deg);
}

.img-bottom {
  transform: rotateZ(45deg);
}
